{
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-react",
      {
        "runtime": "automatic"
      }
    ]
  ],
  "env": {
    "commonjs": {
      "plugins": [
        "@babel/plugin-transform-modules-commonjs",
        "add-module-exports"
      ]
    }
  }
}
