build
node_modules
viewer/build
src/svgs.ts
src/svgs-index.ts
test.html
yarn-error.log
facesjs-vite/vite.config.ts.timestamp*
*.DS_Store
facesjs-vite/src/.DS_Store
facesjs-vite/.DS_Store
facesjs-vite/src/.DS_Store
facesjs-vite/.DS_Store
testsvg2.svg
testsvg.svg
