name: Node CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: pnpm/action-setup@v3
      with:
        version: 9
    - uses: actions/setup-node@v3
      with:
        node-version: '20.x'
        cache: 'pnpm'
    - name: Install dependencies
      run: pnpm install
    - name: Tests
      run: pnpm test
    - name: Build
      run: pnpm run build
    - name: Build site
      run: pnpm run build-site
